body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-size: cover;
    font-weight: bold;
    background-color: green;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
    color: white;
}

 
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;

}